# See https://github.com/git/git/blob/master/Documentation/mailmap.txt
adil <adil@stockopedia.co.uk>
adil <adil@stockopedia.co.uk> <adil@adil-ThinkCentre-A85>
aG0aep6G <aG0aep6G@users.noreply.github.com>
Alex Rønne Petersen <alex@alexrp.com> <alex@lycus.org>
Alex Rønne Petersen <alex@alexrp.com> <xtzgzorex@gmail.com>
Amaury <deadalnix@gmail.com>
Amaury <deadalnix@gmail.com> <amaury@fb.com>
Anders Ronnbrant <anders.ronnbrant@gmail.com>
Andrei Alexandrescu <andrei@erdani.com>
Andrej Mitrovic <andrej.mitrovich@gmail.com>
Andrew Edwards <edwards.ac@gmail.com>
Andrey Zherikov <andrey.zherikov@gmail.com>
Brad Anderson <root>
Brian Schott <briancschott@gmail.com>
Christian Juelg <c.juelg@gmail.com>
Clement Courbet <legrosbuffle@somebod.com> <clem@somebod.com>
D8174 <michaelpm394@gmail.com>
Daniel Murphy <yebblies@gmail.com>
Dave Gallets <davegallets@gmail.com>
David <admin@dav1d.de> <admin@dav1d.de>
David Herberth <admin@dav1d.de>
Denis Shelomovskij <verylonglogin.reg@gmail.com>
Dmitry Ds<ds.dlang@gmail.com>
Don Clugston <dclugston@googlemail.com>
Don Clugston <dclugston@googlemail.com> <emailsdontbelong@inarepository.com>
Ed McCardell <edmccard@hotmail.com>
emstoudenmire <miles.stoudenmire@gmail.com>
Hara Kenji <k.hara.pg+dev@gmail.com> <k.hara.pg@gmail.com>
humdedum <humdedum@icloud.com>
Iain Buclaw <ibuclaw@gdcproject.org> <ibuclaw@HP-G62.(none)>
Iain Buclaw <ibuclaw@gdcproject.org> ibuclaw <ibuclaw@ubuntu.com>
Ilya Yaroshenko <ilya@ilya-Aspire-7745G.(none)>
Ilya Yaroshenko <ilyayaroshenko@gmail.com>
Jacob Carlborg <doob@me.com> <jacob.carlborg@gmail.com>
Jakob Øvrum <jakobovrum@gmail.com>
Jakob Øvrum <jakobovrum@gmail.com> <JakobOvrum@users.noreply.github.com>
Jan Jurzitza <gh@webfreak.org> <janju007@web.de>
JinShil <slavo5150@yahoo.com>
JinShil <slavo5150@yahoo.com> <JinShil@users.noreply.github.com>
Joakim Noah <gh@joakim.fea.st>
Joakim Noah <gh@joakim.fea.st> <git@joakim.fea.st>
Joakim Noah <gh@joakim.fea.st> <joakim@airpost.net>
Johannes Pfau <johannespfau@googlemail.com> <johannespfau@googlemail.com>
John Colvin <john.loughran.colvin@gmail.com>
Jonathan M Davis <jmdavisProg@gmx.com> <jonathan.davis@pelco.com>
Jordi Sayol <g.sayol@yahoo.es>
Jordi Sayol <jordi@jordi-desktop> <jordi@mint>
Kai Nacke <kai@redstar.de>
kinke <noone@nowhere.com>
Kinok <xinok@live.com>
Lucia Mcojocaru <lucia.mcojocaru@gmail.com>
Luís Marques <luis@luismarques.eu>
Mark Barbone <30397247+mb64@users.noreply.github.com>
Mark Barbone <30397247+mb64@users.noreply.github.com> Mark Barbone <>
Martin Nowak <code@dawg.eu> <dawg@dawgfoto.de>
Martin Nowak <code@dawg.eu> <dawg@dawgfoto>
Mathias Lang <mathias.lang@sociomantic.com> <geod24@gmail.com>
Mathias Lang <mathias.lang@sociomantic.com> <mathias.lang@epitech.eu>
Mathias Lang <mathias.lang@sociomantic.com> <pro.mathias.lang@gmail.com>
Miles <miles.stoudenmire@gmail.com>
Miles Stoudenmire <miles.stoudenmire@gmail.com>
monarchdodra <monarchdodra@gmail.com> <monarchdodra@gmail.com>
Petar Kirov <petar.p.kirov@gmail.com> <petar.p.kirov@gmail.com>
ponce <aliloko@gmail.com> <aliloko@gmail.com>
Rainer Schuetze <r.sagitario@gmx.de> <r.sagitario@gmx.de>
Razvan Nitu <razvan.nitu1305@gmail.com> <razvan.nitu1305@gmail.com>
Robert burner Schadek <robert.schadek@informatik.uni-oldenburg.de> <rburners@gmail.com>
Robert burner Schadek <robert.schadek@informatik.uni-oldenburg.de> <robert.schadek@informatik.uni-oldenburg.de>
Safety0ff <safety0ff.dev@gmail.com>
Safety0ff <safety0ff.dev@gmail.com> <safety0ff@users.sourceforge.net>
shoo <zan77137@nifty.com> <zan77137@nifty.com>
Simen Kjærås <simen.kjaras@gmail.com>
Simen Kjærås <simen.kjaras@gmail.com> <biotronic@biotronic.(none)>
skkestrel <sudo@pt-get.com>
Stefan Koch <Uplink.Coder@googlemail.com>
Stefan Rohe <think@hotmail.de>
Timothee Cour <timothee.cour@gmail.com> <timothee.cour2@gmail.com>
Tobias Stengel <tobias.stengel@student.kit.edu>
Torarin <torarin@gmail.com>
Ulrich Küttler <kuettler@gmail.com>
Ulrich Küttler <kuettler@gmail.com> <ulrich.kuettler@ppro.com>
Walter Waldron <WalterWaldron@users.noreply.github.com>
Wyatt <wyatt.epp@gmail.com>
Yao Gómez <yao.gomez@gmail.com> <yaoltzin@gmail.com>
yashikno <nobody@nowhere>
Yazan Dabain <yazan.dabain@arabiaweather.com> <yazan.dabain@gmail.com>
Михаил Страшун <public@dicebot.lv>
Михаил Страшун <public@dicebot.lv> <m.strashun@gmail.com>
