# See https://github.com/git/git/blob/master/Documentation/mailmap.txt
# This file is sorted with:
# (head -n3 .mailmap && tail -n+4 .mailmap | sort -f) > .mailmap.tmp && mv .mailmap.tmp .mailmap
Adam D. Ruppe <destructionator@gmail.com>
adil <adil@stockopedia.co.uk>
adil <adil@stockopedia.co.uk> <adil@adil-ThinkCentre-A85>
aG0aep6G <aG0aep6G@users.noreply.github.com>
Alex Rønne Petersen <alex@alexrp.com> <alex@lycus.org>
Alex Rønne Petersen <alex@alexrp.com> <xtzgzorex@gmail.com>
Ali Çehreli <acehreli@yahoo.com>
Amaury <deadalnix@gmail.com>
Amaury <deadalnix@gmail.com> <amaury@fb.com>
Anders Ronnbrant <anders.ronnbrant@gmail.com>
Andrei Alexandrescu <andrei@erdani.com>
Andrej Mitrovic <andrej.mitrovich@gmail.com>
Andrew Edwards <edwards.ac@gmail.com>
Andrey Zherikov <andrey.zherikov@gmail.com>
Aurélien Fredouelle <aurelien.fredouelle@gmail.com>
Basile Burg <b2.temp@gmx.com> <basile.b@gmx.com> <Basile-z@users.noreply.github.com> <Basile-z> <BBasile>
Benjamin L. Merritt <blm768@gmail.com>
Bernhard Seckinger <github@d-ecke.de>
Bernhard Seckinger <github@d-ecke.de> <56265324+berni44@users.noreply.github.com>
Boris Carvajal <boris2.9@gmail.com>
Brad Anderson <root>
Brian Schott <briancschott@gmail.com>
Brian Schott <briancschott@gmail.com> <Hackerpilot>
Christian Juelg <c.juelg@gmail.com>
Clement Courbet <legrosbuffle@somebod.com> <clem@somebod.com>
D8174 <michaelpm394@gmail.com>
Daniel Murphy <yebblies@gmail.com>
Dave Gallets <davegallets@gmail.com>
David <admin@dav1d.de> <admin@dav1d.de>
David Herberth <admin@dav1d.de>
David Simcha <dsimcha@gmail.com>
David Simcha <dsimcha@gmail.com> <dsimcha@.(none)>
Denis Shelomovskij <verylonglogin.reg@gmail.com>
Dmitry Ds<ds.dlang@gmail.com>
Don Clugston <dclugston@googlemail.com>
Don Clugston <dclugston@googlemail.com> <emailsdontbelong@inarepository.com>
Ed McCardell <edmccard@hotmail.com>
emstoudenmire <miles.stoudenmire@gmail.com>
Hara Kenji <k.hara.pg+dev@gmail.com> <k.hara.pg@gmail.com>
humdedum <humdedum@icloud.com>
Héctor Barreras Almarcha <hbaelx@gmail.com>
Héctor Barreras Almarcha <hbaelx@gmail.com> <Dechcaudron@users.noreply.github.com>
Iain Buclaw <ibuclaw@gdcproject.org>
Iain Buclaw <ibuclaw@gdcproject.org> <ibuclaw@HP-G62.(none)>
Iain Buclaw <ibuclaw@gdcproject.org> ibuclaw <ibuclaw@ubuntu.com>
Ilya Yaroshenko <ilya@ilya-Aspire-7745G.(none)>
Ilya Yaroshenko <ilyayaroshenko@gmail.com>
Jacob Carlborg <doob@me.com> <jacob.carlborg@gmail.com>
Jakob Øvrum <jakobovrum@gmail.com>
Jakob Øvrum <jakobovrum@gmail.com> <JakobOvrum@users.noreply.github.com>
Jan Jurzitza <gh@webfreak.org>
Jan Jurzitza <gh@webfreak.org> <janju007@web.de>
Jan Jurzitza <gh@webfreak.org> <webfreak@archlinux.fritz.box>
Joakim Noah <gh@joakim.fea.st>
Joakim Noah <gh@joakim.fea.st> <git@joakim.fea.st>
Joakim Noah <gh@joakim.fea.st> <joakim@airpost.net>
Johannes Pfau <johannespfau@googlemail.com> <johannespfau@googlemail.com>
John Colvin <john.loughran.colvin@gmail.com>
Jonathan M Davis <jmdavisProg@gmx.com> <jonathan.davis@pelco.com>
Jordi Sayol <g.sayol@yahoo.es>
Jordi Sayol <jordi@jordi-desktop> <jordi@mint>
Kai Nacke <kai@redstar.de>
Kinok <xinok@live.com>
Lucia Mcojocaru <lucia.mcojocaru@gmail.com>
Luís Marques <luis@luismarques.eu>
Mark Barbone <30397247+mb64@users.noreply.github.com>
Mark Barbone <30397247+mb64@users.noreply.github.com> Mark Barbone <>
Martin Kinkelin <noone@nowhere.com>
Martin Kinkelin <noone@nowhere.com> <kinke@users.noreply.github.com>
Martin Nowak <code@dawg.eu> <dawg@dawgfoto.de>
Martin Nowak <code@dawg.eu> <dawg@dawgfoto>
Mathias Lang <mathias.lang@sociomantic.com> <geod24@gmail.com>
Mathias Lang <mathias.lang@sociomantic.com> <mathias.lang@epitech.eu>
Mathias Lang <mathias.lang@sociomantic.com> <pro.mathias.lang@gmail.com>
Mathis Beer <mathis.beer@funkwerk-itk.com> <540727+FeepingCreature@users.noreply.github.com>
Mathis Beer <mathis.beer@funkwerk-itk.com> <default_357-line@yahoo.de>
Mike Franklin <slavo5150@yahoo.com>
Mike Franklin <slavo5150@yahoo.com> <JinShil@users.noreply.github.com>
Mike Parker <aldacron@gmail.com>
Miles <miles.stoudenmire@gmail.com>
Miles Stoudenmire <miles.stoudenmire@gmail.com>
monarchdodra <monarchdodra@gmail.com> <monarchdodra@gmail.com>
Nathan Sashihara <21227491+n8sh@users.noreply.github.com>
Nathan Sashihara <21227491+n8sh@users.noreply.github.com> <nathan@n8mbp17.home>
Nicholas Wilson <iamthewilsonator@hotmail.com>
Nicholas Wilson <iamthewilsonator@hotmail.com> <thewilsonator@users.noreply.github.com>
Nick Sabalausky <bus_github@semitwist.com>
Nick Sabalausky <bus_github@semitwist.com> <Abscissa@users.noreply.github.com>
Petar Kirov <petar.p.kirov@gmail.com> <petar.p.kirov@gmail.com>
ponce <aliloko@gmail.com> <aliloko@gmail.com>
Quirin F. Schroll <qs.il.paperinik@gmail.com>
Quirin F. Schroll <qs.il.paperinik@gmail.com> <Bolpat@users.noreply.github.com>
Rainer Schuetze <r.sagitario@gmx.de> <r.sagitario@gmx.de>
Razvan Nitu <razvan.nitu1305@gmail.com> <razvan.nitu1305@gmail.com>
Richard (Rikki) Andrew Cattermole <richard@cattermole.co.nz>
Robert burner Schadek <robert.schadek@informatik.uni-oldenburg.de> <rburners@gmail.com>
Robert burner Schadek <robert.schadek@informatik.uni-oldenburg.de> <robert.schadek@informatik.uni-oldenburg.de>
Roy Margalit <54061433+rymrg@users.noreply.github.com>
Ryan Roden-Corrent <ryan@rcorre.net>
Safety0ff <safety0ff.dev@gmail.com>
Safety0ff <safety0ff.dev@gmail.com> <safety0ff@users.sourceforge.net>
shoo <zan77137@nifty.com> <zan77137@nifty.com>
shove <shove@163.com>
Sik <sik@PC-82.ik.local>
Simen Kjærås <simen.kjaras@gmail.com>
Simen Kjærås <simen.kjaras@gmail.com> <biotronic@biotronic.(none)>
skkestrel <sudo@pt-get.com>
Stefan Koch <Uplink.Coder@googlemail.com>
Stefan Koch <uplink.coder@googlemail.com> <UplinkCoder@users.noreply.github.com>
Stefan Rohe <think@hotmail.de>
Timothee Cour <timothee.cour@gmail.com>
Timothee Cour <timothee.cour@gmail.com> <timothee.cour2@gmail.com>
Tobias Stengel <tobias.stengel@student.kit.edu>
Tomáš Chaloupka <chalucha@gmail.com>
Torarin <torarin@gmail.com>
Ulrich Küttler <kuettler@gmail.com>
Ulrich Küttler <kuettler@gmail.com> <ulrich.kuettler@ppro.com>
Walter Waldron <WalterWaldron@users.noreply.github.com>
Wyatt <wyatt.epp@gmail.com>
Yao Gómez <yao.gomez@gmail.com> <yaoltzin@gmail.com>
yashikno <nobody@nowhere>
Yazan Dabain <yazan.dabain@arabiaweather.com> <yazan.dabain@gmail.com>
Михаил Страшун <public@dicebot.lv>
Михаил Страшун <public@dicebot.lv> <m.strashun@gmail.com>
Михаил Страшун <public@dicebot.lv> <mihails.strasuns.contractor@sociomantic.com>
Михаил Страшун <public@dicebot.lv> <registrations@dicebot.lv>
سليمان السهمي (Suleyman Sahmi) <sahmi.soulaimane@gmail.com>
